@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #222;
}

.button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0;
  padding: 4px;
  margin: 0 8px 0 0;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 2px #ddd;

  &--small {
    font-size: 10px;
  }

  &--icon {
    width: 20px;
    height: 20px;
  }
}